
body{font:12px/22px "宋体";}
ul{list-style: none}
p{text-indent: 2em}
a:link{text-decoration: none;color: #333}
a:hover{text-decoration: underline}
.logo{width:100px;margin: 0px auto;}
.manu{width: 100%;height: 40px;background: #269f70}
.manu ul{width: 1000px;margin: 0px auto}
.manu ul li{float: left;;width: 128px;line-height: 40px}
.manu a{font-size: 16px;color: #fff}
.banner,.banner img{width: 100%;height: 400px;}
.main{width:1050px;margin: 0px auto;}
.m{ float: left;color: #f0f;border:3px solid #aaa;
	background-image:url(images/bgi.jpg);
	width: 350px;height: 400px;}
.n{width:650px;height: 400px;font-size:16px; float: left;
	border: 3px solid #aaa;background-image:url(images/bg.jpg);}
.list{width: 1050px;margin: 0px auto;border:3px solid #aaa; }
.list_ing{width: 240px;height: 300px;border:3px solid #aaa;
	float: left;margin: 5px;text-align:center;}
.footer{width: 100%;height: 80px;font: 40px;background-color: #000;
	color: #fff;float:right;font-size:16px;
	text-align: center;}